<footer class="site-footer footer-large footer-light footer-wide">

    <!-- FOOTER BLOCKES START -->
    <div class="footer-top">
        <div class="container-fluid">
            <div class="row">
                <div id="recent_posts_entry-2"
                    class="col-lg-3 col-md-6 col-sm-12 widget_recent_posts_entry inteshape-widget">
                    <div class="widget footer-widget">
                        <h5 class="widget-title">Recent Post</h5>
                        <div class="recent-posts-entry-date">
                            <div class="widget-post-bx">
                                <div class="widget-post clearfix">
                                    <div class="sx-post-date text-center text-uppercase text-white">
                                        <strong class="p-date">19</strong>
                                        <span class="p-month">Oct</span>
                                        <span class="p-year">2022</span>
                                    </div>
                                    <div class="sx-post-info">
                                        <div class="sx-post-header">
                                            <h6 class="post-title"><a
                                                    href="ace-real-estate-empowers-nigerian-youth-with-free-online-academy/index.html">Ace
                                                    Real Estate empow</a></h6>
                                        </div>
                                        <div class="sx-post-meta">
                                            <ul>
                                                <li class="post-author"><i class="fa fa-user"></i>By <a
                                                        href="index.html" title="Visit ACE&#8217;s website"
                                                        rel="author external">ACE</a></li>
                                                <li class="post-comment"><i class="fa fa-comments"></i> 0</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="widget-post clearfix">
                                    <div class="sx-post-date text-center text-uppercase text-white">
                                        <strong class="p-date">19</strong>
                                        <span class="p-month">Oct</span>
                                        <span class="p-year">2022</span>
                                    </div>
                                    <div class="sx-post-info">
                                        <div class="sx-post-header">
                                            <h6 class="post-title"><a
                                                    href="a-beginner-approach-for-investing-in-real-estate/index.html">A
                                                    BEGINNER APPROACH F</a></h6>
                                        </div>
                                        <div class="sx-post-meta">
                                            <ul>
                                                <li class="post-author"><i class="fa fa-user"></i>By <a
                                                        href="index.html" title="Visit ACE&#8217;s website"
                                                        rel="author external">ACE</a></li>
                                                <li class="post-comment"><i class="fa fa-comments"></i> 1</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="widget-post clearfix">
                                    <div class="sx-post-date text-center text-uppercase text-white">
                                        <strong class="p-date">23</strong>
                                        <span class="p-month">Jan</span>
                                        <span class="p-year">2023</span>
                                    </div>
                                    <div class="sx-post-info">
                                        <div class="sx-post-header">
                                            <h6 class="post-title"><a href="alara-of-ilara/index.html">ALARA OF
                                                    ILARA</a></h6>
                                        </div>
                                        <div class="sx-post-meta">
                                            <ul>
                                                <li class="post-author"><i class="fa fa-user"></i>By <a
                                                        href="index.html" title="Visit ACE&#8217;s website"
                                                        rel="author external">ACE</a></li>
                                                <li class="post-comment"><i class="fa fa-comments"></i> 2</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="nav_menu-2" class="col-lg-3 col-md-6 col-sm-12 widget_nav_menu inteshape-widget">
                    <div class="widget footer-widget">
                        <h5 class="widget-title">Useful links</h5>
                        <div class="menu-useful-links-container">
                            <ul id="menu-useful-links" class="menu">
                                <li id="menu-item-1040"
                                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1040"><a
                                        href="about-us/index.html">About Us</a></li>
                                <li id="menu-item-1041"
                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1041"><a
                                        href="blog-grid-style/index.html">Blog</a></li>
                                <li id="menu-item-1042"
                                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1042"><a
                                        href="grid-4-columns/index.html">Projects</a></li>
                                <li id="menu-item-1043"
                                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1043"><a
                                        href="contact-us/index.html">Support Center</a></li>
                                <li id="menu-item-1044"
                                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1044"><a
                                        href="http://dash.acerealestates.ng/login">Become an Ace Agent</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div id="contact_info-2" class="col-lg-3 col-md-6 col-sm-12 widget_contact_info inteshape-widget">
                    <div class="widget footer-widget">
                        <h5 class="widget-title">Contact Us</h5>
                        <div class=" widget_address_outer">
                            <ul class="widget_address">
                                <li>Plot 15, Block 75, Ichie Mike Ejezie Street, Off Fola Osibo, Lekki Phase 1, Lagos
                                </li>
                                <li> Hello@acerealestates.ng</li>
                                <li>2347025008461</li>
                                <li>2347025008462</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="call-to-action-wrap">
                <div class="row">
                    <div class="col-lg-8 col-md-6 col-sm-12">
                        <div class="call-to-action-left">
                            <h5 class="text-uppercase m-b10 m-t0">SUBSCRIBE TO OUR NEWSLETTER!</h5>
                            <span>Never Miss Anything From Ace Real Estate By Signing Up To Our Newsletter.</span>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="call-to-action-right">
                            <div class="widget_newsletter">
                                <div class="newsletter-bx">
                                    <form role="search" method="post">
                                        <div class="input-group">
                                            <input name="news-letter" class="form-control"
                                                placeholder="ENTER YOUR EMAIL" type="text">
                                            <span class="input-group-btn">
                                                <button type="submit" class="site-button"><i
                                                        class="fa fa-paper-plane-o"></i></button>
                                            </span>
                                        </div>
                                        <div class="status">loading...</div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- FOOTER COPYRIGHT -->
    <div class="footer-bottom overlay-wraper">
        <div class="overlay-main"></div>
        <div class="container">
            <div class="clearfix">
                <div class="sx-footer-bot-center">
                    <span class="copyrights-text">© 2022 Ace Real Estate. All rights reserved.</span>
                </div>
            </div>
        </div>
    </div>
</footer>