{% include 'header.html' %} {% load static %}

<body data-rsssl="1"
	class="home page-template-default page page-id-517 wp-custom-logo theme-inteshape woocommerce-no-js singular enable-search-modal missing-post-thumbnail has-no-pagination not-showing-comments show-avatars footer-top-hidden elementor-default elementor-kit-149 elementor-page elementor-page-517">
	<div class="page-wraper">


		 <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 0 0" width="0" height="0" focusable="false" role="none"
			style="
        visibility: hidden;
        position: absolute;
        left: -9999px;
        overflow: hidden;
      ">
			<defs>
				<filter id="wp-duotone-dark-grayscale">
					<feColorMatrix color-interpolation-filters="sRGB" type="matrix"
						values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 " />
					<feComponentTransfer color-interpolation-filters="sRGB">
						<feFuncR type="table" tableValues="0 0.49803921568627" />
						<feFuncG type="table" tableValues="0 0.49803921568627" />
						<feFuncB type="table" tableValues="0 0.49803921568627" />
						<feFuncA type="table" tableValues="1 1" />
					</feComponentTransfer>
					<feComposite in2="SourceGraphic" operator="in" />
				</filter>
			</defs>
		</svg><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 0 0" width="0" height="0" focusable="false"
			role="none" style="
        visibility: hidden;
        position: absolute;
        left: -9999px;
        overflow: hidden;
      ">
			<defs>
				<filter id="wp-duotone-grayscale">
					<feColorMatrix color-interpolation-filters="sRGB" type="matrix"
						values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 " />
					<feComponentTransfer color-interpolation-filters="sRGB">
						<feFuncR type="table" tableValues="0 1" />
						<feFuncG type="table" tableValues="0 1" />
						<feFuncB type="table" tableValues="0 1" />
						<feFuncA type="table" tableValues="1 1" />
					</feComponentTransfer>
					<feComposite in2="SourceGraphic" operator="in" />
				</filter>
			</defs>
		</svg><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 0 0" width="0" height="0" focusable="false"
			role="none" style="
        visibility: hidden;
        position: absolute;
        left: -9999px;
        overflow: hidden;
      ">
			<defs>
				<filter id="wp-duotone-purple-yellow">
					<feColorMatrix color-interpolation-filters="sRGB" type="matrix"
						values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 " />
					<feComponentTransfer color-interpolation-filters="sRGB">
						<feFuncR type="table" tableValues="0.54901960784314 0.98823529411765" />
						<feFuncG type="table" tableValues="0 1" />
						<feFuncB type="table" tableValues="0.71764705882353 0.25490196078431" />
						<feFuncA type="table" tableValues="1 1" />
					</feComponentTransfer>
					<feComposite in2="SourceGraphic" operator="in" />
				</filter>
			</defs>
		</svg><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 0 0" width="0" height="0" focusable="false"
			role="none" style="
        visibility: hidden;
        position: absolute;
        left: -9999px;
        overflow: hidden;
      ">
			<defs>
				<filter id="wp-duotone-blue-red">
					<feColorMatrix color-interpolation-filters="sRGB" type="matrix"
						values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 " />
					<feComponentTransfer color-interpolation-filters="sRGB">
						<feFuncR type="table" tableValues="0 1" />
						<feFuncG type="table" tableValues="0 0.27843137254902" />
						<feFuncB type="table" tableValues="0.5921568627451 0.27843137254902" />
						<feFuncA type="table" tableValues="1 1" />
					</feComponentTransfer>
					<feComposite in2="SourceGraphic" operator="in" />
				</filter>
			</defs>
		</svg><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 0 0" width="0" height="0" focusable="false"
			role="none" style="
        visibility: hidden;
        position: absolute;
        left: -9999px;
        overflow: hidden;
      ">
			<defs>
				<filter id="wp-duotone-midnight">
					<feColorMatrix color-interpolation-filters="sRGB" type="matrix"
						values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 " />
					<feComponentTransfer color-interpolation-filters="sRGB">
						<feFuncR type="table" tableValues="0 0" />
						<feFuncG type="table" tableValues="0 0.64705882352941" />
						<feFuncB type="table" tableValues="0 1" />
						<feFuncA type="table" tableValues="1 1" />
					</feComponentTransfer>
					<feComposite in2="SourceGraphic" operator="in" />
				</filter>
			</defs>
		</svg><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 0 0" width="0" height="0" focusable="false"
			role="none" style="
        visibility: hidden;
        position: absolute;
        left: -9999px;
        overflow: hidden;
      ">
			<defs>
				<filter id="wp-duotone-magenta-yellow">
					<feColorMatrix color-interpolation-filters="sRGB" type="matrix"
						values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 " />
					<feComponentTransfer color-interpolation-filters="sRGB">
						<feFuncR type="table" tableValues="0.78039215686275 1" />
						<feFuncG type="table" tableValues="0 0.94901960784314" />
						<feFuncB type="table" tableValues="0.35294117647059 0.47058823529412" />
						<feFuncA type="table" tableValues="1 1" />
					</feComponentTransfer>
					<feComposite in2="SourceGraphic" operator="in" />
				</filter>
			</defs>
		</svg><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 0 0" width="0" height="0" focusable="false"
			role="none" style="
        visibility: hidden;
        position: absolute;
        left: -9999px;
        overflow: hidden;
      ">
			<defs>
				<filter id="wp-duotone-purple-green">
					<feColorMatrix color-interpolation-filters="sRGB" type="matrix"
						values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 " />
					<feComponentTransfer color-interpolation-filters="sRGB">
						<feFuncR type="table" tableValues="0.65098039215686 0.40392156862745" />
						<feFuncG type="table" tableValues="0 1" />
						<feFuncB type="table" tableValues="0.44705882352941 0.4" />
						<feFuncA type="table" tableValues="1 1" />
					</feComponentTransfer>
					<feComposite in2="SourceGraphic" operator="in" />
				</filter>
			</defs>
		</svg><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 0 0" width="0" height="0" focusable="false"
			role="none" style="
        visibility: hidden;
        position: absolute;
        left: -9999px;
        overflow: hidden;
      ">
			<defs>
				<filter id="wp-duotone-blue-orange">
					<feColorMatrix color-interpolation-filters="sRGB" type="matrix"
						values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 " />
					<feComponentTransfer color-interpolation-filters="sRGB">
						<feFuncR type="table" tableValues="0.098039215686275 1" />
						<feFuncG type="table" tableValues="0 0.66274509803922" />
						<feFuncB type="table" tableValues="0.84705882352941 0.41960784313725" />
						<feFuncA type="table" tableValues="1 1" />
					</feComponentTransfer>
					<feComposite in2="SourceGraphic" operator="in" />
				</filter>
			</defs>
		</svg>



		<div class="page-content">
			<div data-elementor-type="wp-page" data-elementor-id="517" class="elementor elementor-517">

				<section data-particle_enable="false" data-particle-mobile-disabled="false"
					class="elementor-section elementor-top-section elementor-element elementor-element-598a620 elementor-section-full_width elementor-section-height-default elementor-section-height-default"
					data-id="598a620" data-element_type="section"
					data-settings='{"background_background":"classic","background_image":{"url":"","id":""},"background_image_tablet":{"url":"","id":""},"background_image_mobile":{"url":"","id":""},"ekit_has_onepagescroll_dot":"yes"}'>
					<div class="elementor-container elementor-column-gap-default">
						<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-235b45a"
							data-id="235b45a" data-element_type="column">
							<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-d169ad5 elementor-widget elementor-widget-slider_revolution"
									data-id="d169ad5" data-element_type="widget"
									data-settings='{"ekit_we_effect_on":"none"}'
									data-widget_type="slider_revolution.default">
									<div class="elementor-widget-container">
										<div class="wp-block-themepunch-revslider">
											<!-- START Slider 3 REVOLUTION SLIDER 6.5.31 -->
											<p class="rs-p-wp-fix"></p>
											<rs-module-wrap id="rev_slider_3_1_wrapper" data-source="gallery" style="
                          visibility: hidden;
                          background: transparent;
                          padding: 0;
                          margin: 0px auto;
                          margin-top: 0;
                          margin-bottom: 0;
                        ">
												<rs-module id="rev_slider_3_1" style="" data-version="6.5.31">
													<rs-slides>
														<rs-slide style="position: absolute" data-key="rs-8"
															data-title="Slide"
															data-thumb="//acerealestates.ng/wp-content/uploads/2022/10/2Bed-Terrace-3D.-scaled-50x100.jpg"
															data-duration="7000ms" data-anim="adpr:false;"
															data-in="o:0;" data-out="a:false;">
															<img src="{% static 'wp-content/plugins/revslider/public/assets/assets/dummy.png' %}"
																alt="" title="2Bed Terrace 3D." width="2560"
																height="1440" class="rev-slidebg tp-rs-img rs-lazyload"
																data-lazyload="{% static 'wp-content/uploads/2022/10/2Bed-Terrace-3D.-scaled.jpg' %}"
																data-no-retina />
															<!--
							--><rs-layer id="slider-3-slide-8-layer-0" data-type="shape" data-rsp_ch="on"
																data-text="w:normal;s:20,10,7,4;l:0,13,9,6;"
																data-dim="w:100%;h:100%;"
																data-frame_1="e:power2.inOut;st:150;sp:1500;"
																data-frame_999="o:0;e:power2.inOut;st:w;sp:1500;" style="
                                  z-index: 5;
                                  background-color: rgba(0, 0, 0, 0.1);
                                ">
															</rs-layer><!--

							--><rs-layer id="slider-3-slide-8-layer-1" data-type="text" data-rsp_ch="on"
																data-xy="x:l,l,c,c;xo:393px,209px,0,-1px;yo:209px,234px,129px,225px;"
																data-text="w:normal;s:44,44,44,34;l:54,54,54,44;ls:0,10px,10px,10px;fw:200;a:right,right,center,center;"
																data-frame_0="y:-100%;" data-frame_0_mask="u:t;"
																data-frame_1="st:1000;sp:1500;" data-frame_1_mask="u:t;"
																data-frame_999="y:-100%;o:0;st:w;sp:500;"
																data-frame_999_mask="u:t;"
																style="z-index: 6; font-family: 'Poppins'">UNIQUE
															</rs-layer><!--

							--><rs-layer id="slider-3-slide-8-layer-2" data-type="text" data-rsp_ch="on"
																data-xy="x:l,l,c,c;xo:394px,209px,0,-1px;yo:263px,292px,187px,278px;"
																data-text="w:normal;s:64,64,60,40;l:74,74,70,50;ls:10px;fw:800;a:right,right,center,center;"
																data-frame_0="y:-100%;" data-frame_0_mask="u:t;"
																data-frame_1="st:1000;sp:2500;" data-frame_1_mask="u:t;"
																data-frame_999="y:-100%;o:0;e:power1.in;st:w;sp:500;"
																data-frame_999_mask="u:t;" style="
                                  z-index: 7;
                                  font-family: 'Poppins';
                                  text-transform: uppercase;
                                ">Concept </rs-layer><!--

							--><rs-layer id="slider-3-slide-8-layer-3" data-type="text" data-rsp_ch="on"
																data-xy="x:l,l,c,c;xo:395px,209px,0,0;yo:349px,371px,263px,338px;"
																data-text="w:normal;s:20,20,20,16;l:30,30,30,26;fw:500;a:left,left,center,center;"
																data-dim="w:598px,597px,430px,361px;"
																data-frame_0="y:-100%;" data-frame_0_mask="u:t;"
																data-frame_1="st:1000;sp:3500;" data-frame_1_mask="u:t;"
																data-frame_999="y:-100%;o:0;e:power1.in;st:w;sp:500;"
																data-frame_999_mask="u:t;"
																style="z-index: 8; font-family: 'Poppins'">Dive into a
																world of impeccable architectural
																designs and luxurious styles </rs-layer><!--

							--><a id="slider-3-slide-8-layer-4" class="rs-layer rev-btn" href="https://acerealestates.ng/about-us/"
																target="_blank" rel="noopener" data-type="button"
																data-color="#000000" data-rsp_ch="on"
																data-xy="x:l,l,c,c;xo:394px,210px,0,0;yo:441px,454px,375px,438px;"
																data-text="w:normal;s:14;l:43;ls:8px;fw:600;a:left,left,center,center;"
																data-dim="minh:0px,none,none,none;"
																data-padding="r:15;l:15;" data-frame_0="y:-100%;"
																data-frame_0_mask="u:t;" data-frame_1="st:1000;sp:3500;"
																data-frame_1_mask="u:t;"
																data-frame_999="y:-100%;o:0;e:power1.in;st:w;sp:500;"
																data-frame_999_mask="u:t;"
																data-frame_hover="c:#fff;bgc:#000;boc:rgba(255,255,255,0.75);bor:0px,0px,0px,0px;bos:solid;bow:0px,0px,0px,0px;e:power1.inOut;"
																style="
                                  z-index: 9;
                                  background-color: #ED2B2A;
                                  font-family: 'Poppins';
                                "><span>Read More</span> </a>
														</rs-slide>
														<rs-slide style="position: absolute" data-key="rs-13"
															data-title="Slide"
															data-thumb="//acerealestates.ng/wp-content/uploads/2022/10/3Bed-Terrace_3bed-3d-3.-scaled-50x100.jpg"
															data-duration="7000ms" data-anim="adpr:false;"
															data-in="o:0;" data-out="a:false;">
															<img src="{% static 'wp-content/plugins/revslider/public/assets/assets/dummy.png' %}"
																alt="" title="3Bed Terrace_3bed 3d 3." width="2560"
																height="1440" class="rev-slidebg tp-rs-img rs-lazyload"
																data-lazyload="//acerealestates.ng/wp-content/uploads/2022/10/3Bed-Terrace_3bed-3d-3.-scaled.jpg"
																data-no-retina />
															<!--
							--><rs-layer id="slider-3-slide-13-layer-0" data-type="shape" data-rsp_ch="on"
																data-text="w:normal;s:20,10,7,4;l:0,13,9,6;"
																data-dim="w:100%;h:100%;"
																data-frame_1="e:power2.inOut;st:150;sp:1500;"
																data-frame_999="o:0;e:power2.inOut;st:w;sp:1500;" style="
                                  z-index: 5;
                                  background-color: rgba(0, 0, 0, 0.1);
                                ">
															</rs-layer><!--

							--><rs-layer id="slider-3-slide-13-layer-1" data-type="text" data-rsp_ch="on"
																data-xy="x:l,l,c,c;xo:393px,209px,0,-1px;yo:209px,234px,129px,225px;"
																data-text="w:normal;s:44,44,44,34;l:54,54,54,44;ls:0,10px,10px,10px;fw:200;a:right,right,center,center;"
																data-frame_0="y:-100%;" data-frame_0_mask="u:t;"
																data-frame_1="st:1000;sp:1500;" data-frame_1_mask="u:t;"
																data-frame_999="y:-100%;o:0;st:w;sp:500;"
																data-frame_999_mask="u:t;"
																style="z-index: 6; font-family: 'Poppins'">Creative
															</rs-layer><!--

							--><rs-layer id="slider-3-slide-13-layer-2" data-type="text" data-rsp_ch="on"
																data-xy="x:l,l,c,c;xo:394px,209px,0,-1px;yo:263px,292px,187px,278px;"
																data-text="w:normal;s:64,64,60,40;l:74,74,70,50;ls:10px;fw:800;a:right,right,center,center;"
																data-frame_0="y:-100%;" data-frame_0_mask="u:t;"
																data-frame_1="st:1000;sp:2500;" data-frame_1_mask="u:t;"
																data-frame_999="y:-100%;o:0;e:power1.in;st:w;sp:500;"
																data-frame_999_mask="u:t;" style="
                                  z-index: 7;
                                  font-family: 'Poppins';
                                  text-transform: uppercase;
                                ">Thinkings </rs-layer><!--

							--><rs-layer id="slider-3-slide-13-layer-3" data-type="text" data-rsp_ch="on"
																data-xy="x:l,l,c,c;xo:395px,209px,0,0;yo:349px,371px,263px,338px;"
																data-text="w:normal;s:20,20,20,16;l:30,30,30,26;fw:500;a:left,left,center,center;"
																data-dim="w:598px,597px,430px,361px;"
																data-frame_0="y:-100%;" data-frame_0_mask="u:t;"
																data-frame_1="st:1000;sp:3500;" data-frame_1_mask="u:t;"
																data-frame_999="y:-100%;o:0;e:power1.in;st:w;sp:500;"
																data-frame_999_mask="u:t;"
																style="z-index: 8; font-family: 'Poppins'">Let’s expand
																your imagination to distinctive
																elegance and possibilities </rs-layer><!--

							--><a id="slider-3-slide-13-layer-4" class="rs-layer rev-btn" href="https://acerealestates.ng/about-us/"
																target="_blank" rel="noopener" data-type="button"
																data-color="#000000" data-rsp_ch="on"
																data-xy="x:l,l,c,c;xo:394px,210px,0,0;yo:441px,454px,375px,438px;"
																data-text="w:normal;s:14;l:43;ls:8px;fw:600;a:left,left,center,center;"
																data-dim="minh:0px,none,none,none;"
																data-padding="r:15;l:15;" data-frame_0="y:-100%;"
																data-frame_0_mask="u:t;" data-frame_1="st:1000;sp:3500;"
																data-frame_1_mask="u:t;"
																data-frame_999="y:-100%;o:0;e:power1.in;st:w;sp:500;"
																data-frame_999_mask="u:t;"
																data-frame_hover="c:#fff;bgc:#000;boc:rgba(255,255,255,0.75);bor:0px,0px,0px,0px;bos:solid;bow:0px,0px,0px,0px;e:power1.inOut;"
																style="
                                  z-index: 9;
                                  background-color: #ED2B2A;
                                  font-family: 'Poppins';
                                "><span>Read More</span> </a></rs-slide>
														<rs-slide style="position: absolute" data-key="rs-14"
															data-title="Slide"
															data-thumb="//acerealestates.ng/wp-content/uploads/2022/10/2Bed-Terrace-3D_2bed-3d-4.-scaled-50x100.jpg"
															data-duration="7000ms" data-anim="adpr:false;"
															data-in="o:0;" data-out="a:false;">
															<img src="{% static 'wp-content/plugins/revslider/public/assets/assets/dummy.png' %}"
																alt="" title="2Bed Terrace 3D,_2bed 3d 4." width="2560"
																height="1440" class="rev-slidebg tp-rs-img rs-lazyload"
																data-lazyload="//acerealestates.ng/wp-content/uploads/2022/10/2Bed-Terrace-3D_2bed-3d-4.-scaled.jpg"
																data-no-retina />
															<!--
							--><rs-layer id="slider-3-slide-14-layer-0" data-type="shape" data-rsp_ch="on"
																data-text="w:normal;s:20,10,7,4;l:0,13,9,6;"
																data-dim="w:100%;h:100%;"
																data-frame_1="e:power2.inOut;st:150;sp:1500;"
																data-frame_999="o:0;e:power2.inOut;st:w;sp:1500;" style="
                                  z-index: 5;
                                  background-color: rgba(0, 0, 0, 0.1);
                                ">
															</rs-layer><!--

							--><rs-layer id="slider-3-slide-14-layer-1" data-type="text" data-rsp_ch="on"
																data-xy="x:l,l,c,c;xo:393px,209px,0,-1px;yo:209px,234px,129px,225px;"
																data-text="w:normal;s:44,44,44,34;l:54,54,54,44;ls:0,10px,10px,10px;fw:200;a:right,right,center,center;"
																data-frame_0="y:-100%;" data-frame_0_mask="u:t;"
																data-frame_1="st:1000;sp:1500;" data-frame_1_mask="u:t;"
																data-frame_999="y:-100%;o:0;st:w;sp:500;"
																data-frame_999_mask="u:t;"
																style="z-index: 6; font-family: 'Poppins'">ELEGANT
															</rs-layer><!--

							--><rs-layer id="slider-3-slide-14-layer-2" data-type="text" data-rsp_ch="on"
																data-xy="x:l,l,c,c;xo:394px,209px,0,-1px;yo:263px,292px,187px,278px;"
																data-text="w:normal;s:64,64,60,40;l:74,74,70,50;ls:10px;fw:800;a:right,right,center,center;"
																data-frame_0="y:-100%;" data-frame_0_mask="u:t;"
																data-frame_1="st:1000;sp:2500;" data-frame_1_mask="u:t;"
																data-frame_999="y:-100%;o:0;e:power1.in;st:w;sp:500;"
																data-frame_999_mask="u:t;" style="
                                  z-index: 7;
                                  font-family: 'Poppins';
                                  text-transform: uppercase;
                                ">DESIGNS </rs-layer><!--

							--><rs-layer id="slider-3-slide-14-layer-3" data-type="text" data-rsp_ch="on"
																data-xy="x:l,l,c,c;xo:395px,209px,0,0;yo:349px,371px,263px,338px;"
																data-text="w:normal;s:20,20,20,16;l:30,30,30,26;fw:500;a:left,left,center,center;"
																data-dim="w:598px,597px,430px,361px;"
																data-frame_0="y:-100%;" data-frame_0_mask="u:t;"
																data-frame_1="st:1000;sp:3500;" data-frame_1_mask="u:t;"
																data-frame_999="y:-100%;o:0;e:power1.in;st:w;sp:500;"
																data-frame_999_mask="u:t;"
																style="z-index: 8; font-family: 'Poppins'">We Bring Your
																Dream to reality. </rs-layer><!--

							--><a id="slider-3-slide-14-layer-4" class="rs-layer rev-btn" href="https://acerealestates.ng/about-us/"
																target="_blank" rel="noopener" data-type="button"
																data-color="#000000" data-rsp_ch="on"
																data-xy="x:l,l,c,c;xo:394px,210px,0,0;yo:441px,454px,375px,438px;"
																data-text="w:normal;s:14;l:43;ls:8px;fw:600;a:left,left,center,center;"
																data-dim="minh:0px,none,none,none;"
																data-padding="r:15;l:15;" data-frame_0="y:-100%;"
																data-frame_0_mask="u:t;" data-frame_1="st:1000;sp:3500;"
																data-frame_1_mask="u:t;"
																data-frame_999="y:-100%;o:0;e:power1.in;st:w;sp:500;"
																data-frame_999_mask="u:t;"
																data-frame_hover="c:#fff;bgc:#000;boc:rgba(255,255,255,0.75);bor:0px,0px,0px,0px;bos:solid;bow:0px,0px,0px,0px;e:power1.inOut;"
																style="
                                  z-index: 9;
                                  background-color: #ED2B2A;
                                  font-family: 'Poppins';"><span>Read More</span> </a></rs-slide>
													</rs-slides>
												</rs-module>
												<script>
													setREVStartSize({
														c: "rev_slider_3_1",
														rl: [1240, 1024, 778, 480],
														el: [700, 768, 570, 720],
														gw: [1920, 1024, 778, 480],
														gh: [700, 768, 570, 720],
														type: "standard",
														justify: "",
														layout: "fullwidth",
														mh: "0",
													});
													if (
														window.RS_MODULES !== undefined &&
														window.RS_MODULES.modules !== undefined &&
														window.RS_MODULES.modules["revslider31"] !==
														undefined
													) {
														window.RS_MODULES.modules[
															"revslider31"
														].once = false;
														window.revapi3 = undefined;
														if (window.RS_MODULES.checkMinimal !== undefined)
															window.RS_MODULES.checkMinimal();
													}
												</script>
											</rs-module-wrap>
											<!-- END REVOLUTION SLIDER -->
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>

				<section data-particle_enable="false" data-particle-mobile-disabled="false"
				class="elementor-section elementor-top-section elementor-element elementor-element-463c30c elementor-section-boxed elementor-section-height-default elementor-section-height-default"
				data-id="463c30c" data-element_type="section"
				data-settings='{"background_background":"classic","background_image":{"url":"","id":""},"background_image_tablet":{"url":"","id":""},"background_image_mobile":{"url":"","id":""},"ekit_has_onepagescroll_dot":"yes"}'
				">
				<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-3709d58"
						data-id="3709d58" data-element_type="column">
						<div class="elementor-widget-wrap elementor-element-populated">
							<div class="elementor-element elementor-element-41b89c6 elementor-widget elementor-widget-about-section"
								data-id="41b89c6" data-element_type="widget"
								data-settings='{"ekit_we_effect_on":"none"}'
								data-widget_type="about-section.default">
								<div class="elementor-widget-container">
									<div class="section-full mobile-page-padding p-t80 p-b50">
										<div class="section-content">
											<div class="row">
												<div class="col-xl-6 col-lg-6 col-md-12">
													<div class="about-home-3 m-b30 bg-white">
														<h3 class="m-t0 m-b20 sx-tilte">
															The Zaran - Dream
														</h3>
														<p>
															To become a leading icon in Nigeria and Africa’s
															real estate industry through our commitment to
															acquiring valuable properties easily accessible
															to just anyone
														</p>
														<ul class="list-angle-right anchor-line">
															<li>
																<a href="#">We strive for excellence and aim to
																	provide
																	the highest level of service possible.
																</a>
															</li>
															<li>
																<a href="#">We operate with the highest level of
																	honesty, professionalism and integrity at
																	all times.
																</a>
															</li>
															<li>
																<a href="#">We adopt your own goals as our own: Your
																	success is our success.
																</a>
															</li>
														</ul>
														<div class="text-left">
															<a href="about-us/index.html"
																class="site-button btn-half" style="background-color: #ED2B2A;"><span style="color: white;">Read
																	More</span></a>
														</div>
													</div>
												</div>
												<div class="col-xl-6 col-lg-6 col-md-12">
													<div class="video-section-full-v2">
														<div
															class="video-section-full bg-no-repeat bg-cover bg-center overlay-wraper m-b30">
															<div class="overlay-main bg-black opacity-04"></div>
															<div class="video-section-inner">
																<div class="video-section-content">
																	<a href="#"
																		class="mfp-video play-now">
																		<i class="icon fa fa-play"></i>
																		<span class="ripple"></span>
																	</a>
																	<div class="video-section-bottom">
																		<h3 class="sx-title text-white">
																			Our<br />Story
																		</h3>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			

				
				<section data-particle_enable="false" data-particle-mobile-disabled="false"
					class="elementor-section elementor-top-section elementor-element elementor-element-990b3f5 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
					data-id="990b3f5" data-element_type="section" data-settings='{"ekit_has_onepagescroll_dot":"yes"}' ">
					<div class="elementor-container elementor-column-gap-default">
						<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-f2e52a8"
							data-id="f2e52a8" data-element_type="column">
							<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-16ff75d elementor-widget elementor-widget-what-we-do"
									data-id="16ff75d" data-element_type="widget"
									data-settings='{"ekit_we_effect_on":"none"}' data-widget_type="what-we-do.default">
									<div class="elementor-widget-container">
										<div class="container right-half-bg-image-outer">
												<div class="right-half-bg-image bg-parallax bg-fixed bg-top-right"
													data-stellar-background-ratio="0"></div>
												<!-- TITLE START -->
												<div class="section-head">
													<div class="sx-separator-outer separator-left">
														<div class="sx-separator bg-white bg-moving bg-repeat-x">
															<h3 class="sep-line-one">What We do</h3>
														</div>
													</div>
												</div>
												<!-- TITLE END -->
												<div class="section-content">
													<div class="row number-block-one-outer justify-content-center">
														{% for number_block in number_blocks %}
														<div class="col-lg-4 col-md-6 col-sm-6 m-b30">
															<div class="number-block-one animate-in-to-top">
																<img src="{{ number_block.image.url }}" alt="img" />
																<div class="figcaption bg-white text-center p-a20">
																	<h4 class="m-a0">{{ number_block.title }}</h4>
																</div>
																<div class="figcaption-number text-center sx-text-primary animate-in-to-top-content" > 
																	<span style="color: #ED2B2A";>{{ forloop.counter }}</span>
																</div>
															</div>
														</div>
														{% endfor %}
													</div>
													
													<div class="large-title-block full-content bg-gray">
														<div class="row">
															<div class="col-lg-6 col-md-12 col-sm-12">
																<div class="large-title">
																	<h3 class="m-tb0">Lorem ipsum dolor sit amet.</h3>
																</div>
															</div>
															<div class="col-lg-6 col-md-12 col-sm-12">
																<div class="large-title-info">
																	<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reprehenderit maxime nam eaque consectetur libero temporibus sed hic, nesciunt qui voluptates.</p>
																	<div class="text-left">
																		<a href="#" class="site-button-link"></a>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>

				<section data-particle_enable="false" data-particle-mobile-disabled="false"
					class="elementor-section elementor-top-section elementor-element elementor-element-fd302cb elementor-section-boxed elementor-section-height-default elementor-section-height-default"
					data-id="fd302cb" data-element_type="section"
					data-settings='{"background_background":"classic","background_image":{"url":"http:\/\/gridvalley.net\/wp\/inteshape\/wp-content\/uploads\/2021\/06\/cross-line2.png","id":533},"background_image_tablet":{"url":"","id":""},"background_image_mobile":{"url":"","id":""},"ekit_has_onepagescroll_dot":"yes"}' ">
					<div class="elementor-container elementor-column-gap-default">
						<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-067ff61"
							data-id="067ff61" data-element_type="column">
							<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-da90b96 elementor-widget elementor-widget-eael-post-carousel"
									data-id="da90b96" data-element_type="widget"
									data-settings='{"items":{"unit":"px","size":3,"sizes":[]},"items_tablet":{"unit":"px","size":2,"sizes":[]},"items_mobile":{"unit":"px","size":1,"sizes":[]},"ekit_we_effect_on":"none"}'
									data-widget_type="eael-post-carousel.default">
									<div class="elementor-widget-container">
										<div class="section-head">
											<div class="sx-separator-outer separator-left">
												<div class="sx-separator bg-white bg-moving bg-repeat-x">
													<h3 class="sep-line-one">Projects</h3>
												</div>
											</div>
										</div>

										<div class="swiper-container-wrap eael-logo-carousel-wrap eael-post-grid-container eael-post-carousel-wrap eael-post-carousel-style-default swiper-container-wrap-dots-outside"
											id="eael-post-grid-da90b96">
											<div class="swiper-container eael-post-carousel eael-post-grid swiper-container-da90b96 eael-post-appender-da90b96 show-read-more-button"
												data-pagination=".swiper-pagination-da90b96"
												data-arrow-next=".swiper-button-next-da90b96"
												data-arrow-prev=".swiper-button-prev-da90b96" data-items-mobile="1"
												data-items-tablet="2" data-items="3" data-margin="10"
												data-effect="slide" data-speed="400" data-autoplay="2000" data-loop="1"
												data-arrows="1" data-dots="1">
												<div class="swiper-wrapper">
													{% for project in projects %}
													<div class="swiper-slide">
														<article class="eael-grid-post eael-post-grid-column">
															<div class="eael-grid-post-holder">
																<div class="eael-grid-post-holder-inner">
																	<div class="eael-entry-media eael-entry-medianone">
																		<div class="eael-entry-overlay fade-in">
																			<i class="fas fa-long-arrow-alt-right"
																				aria-hidden="true"></i><a
																				href="projects/vision-city/index.html"></a>
																		</div>
																		<div class="eael-entry-thumbnail">
																			<img src="{{ project.image.url }}"
																				alt="{{ project.title }}" />
																			<a
																				href="{{ project.url }}"></a>
																		</div>
																	</div>
																	<div class="eael-entry-wrapper">
																		<header class="eael-entry-header">
																			<h2 class="eael-entry-title">
																				<a class="eael-grid-post-link"
																					href="{{ project.url }}"
																					title="{{ project.title }}">{{ project.title }}</a>
																			</h2>
																		</header>
																	</div>
																	<div class="eael-entry-content">
																		<div class="eael-grid-post-excerpt">
																			<p>{{ project.description }}</p>
																			<div
																				class="eael-post-elements-readmore-wrap">
																				<a href="{{ project.url }}"
																					class="eael-post-elements-readmore-btn" style="color: #ED2B2A">Read
																					More</a>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
														</article>
													</div>
													{% endfor %}
												</div>
											</div>
											<div class="clearfix"></div>
											<!-- Add Pagination -->
											<div class="swiper-pagination swiper-pagination-da90b96"></div>
											<!-- Add Arrows -->
											<div class="swiper-button-next swiper-button-next-da90b96">
												<i class="fa-solid fa-arrow-right"></i>
											</div>
											<div class="swiper-button-prev swiper-button-prev-da90b96">
												<i class="fa-solid fa-arrow-left"></i>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>


				<section data-particle_enable="false" data-particle-mobile-disabled="false"
					class="elementor-section elementor-top-section elementor-element elementor-element-de2f3a0 elementor-section-full_width elementor-section-height-default elementor-section-height-default"
					data-id="de2f3a0" data-element_type="section" data-settings='{"ekit_has_onepagescroll_dot":"yes"}' ">
					<div class="elementor-container elementor-column-gap-default">
						<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-9733454"
							data-id="9733454" data-element_type="column">
							<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-2b32cac elementor-widget elementor-widget-services-section"
									data-id="2b32cac" data-element_type="widget"
									data-settings='{"ekit_we_effect_on":"none"}'
									data-widget_type="services-section.default">
									<div class="elementor-widget-container">
										<!-- OUR SERVICES START -->
										<div class="section-full mobile-page-padding p-t80 p-b50">
											<div class="section-content">
												<div class="container">
													<!-- TITLE START -->
													<div class="section-head">
														<div class="sx-separator-outer separator-left">
															<div class="sx-separator bg-white bg-moving bg-repeat-x">
																<h3 class="sep-line-one">What We Stand By</h3>
															</div>
														</div>
													</div>
													<!-- TITLE END -->
													<div class="row">
														<!-- Block one -->
														<div class="col-lg-4 col-md-6 col-sm-12 m-b30">
															<div class="sx-icon-box-wraper icon-count-2-outer">
																<div class="icon-count-2 bg-white">
																	<span class="icon-count-number" style="color: #ED2B2A";>01</span>
																	<div
																		class="icon-xl inline-icon m-b5 scale-in-center">
																		<span class="icon-cell"><i
																				class="flaticon-door"></i></span>
																	</div>
																	<div class="icon-content">
																		<h4 class="sx-tilte">Lorem ipsum</h4>
																		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis, iure!</p>
																		<!-- <div class="text-left">
																			<a href="services/integrity/index.html"
																				class="site-button-link" style="color: #ED2B2A">Read More</a>
																		</div> -->
																	</div>
																</div>
															</div>
														</div>
														<!-- Block one -->
														<div class="col-lg-4 col-md-6 col-sm-12 m-b30">
															<div class="sx-icon-box-wraper icon-count-2-outer">
																<div class="icon-count-2 bg-white">
																	<span class="icon-count-number" style="color: #ED2B2A">02</span>
																	<div
																		class="icon-xl inline-icon m-b5 scale-in-center">
																		<span class="icon-cell"><i
																				class="flaticon-window"></i></span>
																	</div>
																	<div class="icon-content">
																		<h4 class="sx-tilte">Lorem ipsum</h4>
																		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, culpa.</p>
																		<!-- <div class="text-left">
																			<a href="services/partnership/index.html"
																				class="site-button-link" style="color: #ED2B2A">Read More</a>
																		</div> -->
																	</div>
																</div>
															</div>
														</div>
														<!-- Block one -->
														<div class="col-lg-4 col-md-6 col-sm-12 m-b30">
															<div class="sx-icon-box-wraper icon-count-2-outer">
																<div class="icon-count-2 bg-white">
																	<span class="icon-count-number" style="color: #ED2B2A">03</span>
																	<div
																		class="icon-xl inline-icon m-b5 scale-in-center">
																		<span class="icon-cell"><i
																				class="flaticon-skyline"></i></span>
																	</div>
																	<div class="icon-content">
																		<h4 class="sx-tilte">Lorem Ipsum</h4>
																		<p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae, odio.</p>
																		<!-- <div class="text-left">
																			<a href="services/excellence/index.html"
																				class="site-button-link" style="color: #ED2B2A">Read More</a>
																		</div> -->
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="hilite-title text-left p-l50 text-uppercase">
												<strong></strong>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>


				<section data-particle_enable="false" data-particle-mobile-disabled="false"
					class="elementor-section elementor-top-section elementor-element elementor-element-e2bfd76 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
					data-id="e2bfd76" data-element_type="section" data-settings='{"ekit_has_onepagescroll_dot":"yes"}' ">
					<div class="elementor-container elementor-column-gap-default">
						<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-7b3f07f"
							data-id="7b3f07f" data-element_type="column">
							<div class="elementor-widget-wrap elementor-element-populated">
								<div class="section-head">
									<div class="sx-separator-outer separator-left">
										<div class="sx-separator bg-white bg-moving bg-repeat-x">
											<h3 class="sep-line-one">Vlog</h3>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
				

				<section class="elementor-section elementor-top-section elementor-element elementor-element-d3cc353 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="d3cc353" data-element_type="section" data-settings='{"ekit_has_onepagescroll_dot":"yes"}' ">
					<div class="elementor-container elementor-column-gap-default">
						{% for video_blog in video_blogs %}
						<div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-{{ forloop.counter }}" data-id="{{ forloop.counter }}" data-element_type="column">
							<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-{{ forloop.counter }} elementor-aspect-ratio-169 elementor-widget elementor-widget-video" data-id="{{ forloop.counter }}" data-element_type="widget" data-settings='{"youtube_url":"{{ video_blog.youtube_url }}","video_type":"youtube","controls":"yes","aspect_ratio":"169","ekit_we_effect_on":"none"}' data-widget_type="video.default">
									<div class="elementor-widget-container">
										<div class="elementor-wrapper elementor-fit-aspect-ratio elementor-open-inline">
											<div class="elementor-video"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
						{% endfor %}
					</div>
				</section>
				


				<section data-particle_enable="false" data-particle-mobile-disabled="false"
					class="elementor-section elementor-top-section elementor-element elementor-element-29c19e0 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
					data-id="29c19e0" data-element_type="section" data-settings='{"ekit_has_onepagescroll_dot":"yes"}' ">
					<div class="elementor-container elementor-column-gap-default">
						<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-554089c"
							data-id="554089c" data-element_type="column">
							<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-bb22294 elementor-align-center elementor-widget elementor-widget-button"
									data-id="bb22294" data-element_type="widget"
									data-settings='{"ekit_we_effect_on":"none"}' data-widget_type="button.default">
									<div class="elementor-widget-container">
										<div class="elementor-button-wrapper">
											<a href="https://www.youtube.com/@freecodecamp"
												class="elementor-button-link elementor-button elementor-size-sm"
												role="button">
												<span class="elementor-button-content-wrapper">
													<span class="elementor-button-text">View More</span>
												</span>
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>


				<section data-particle_enable="false" data-particle-mobile-disabled="false"
					class="elementor-section elementor-top-section elementor-element elementor-element-8b08a4f elementor-section-full_width elementor-section-height-default elementor-section-height-default"
					data-id="8b08a4f" data-element_type="section"
					data-settings='{"background_background":"classic","background_image":{"url":"","id":""},"background_image_tablet":{"url":"","id":""},"background_image_mobile":{"url":"","id":""},"ekit_has_onepagescroll_dot":"yes"}' ">
					<div class="elementor-container elementor-column-gap-default">
						<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-810e88d"
							data-id="810e88d" data-element_type="column">
							<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-3dea026 elementor-widget elementor-widget-news-section"
									data-id="3dea026" data-element_type="widget"
									data-settings='{"ekit_we_effect_on":"none"}'
									data-widget_type="news-section.default">
									<div class="elementor-widget-container">
										<!-- OUR BLOG START -->
										<div class="section-full mobile-page-padding p-t80 p-b50">
											<div class="container">
												<div class="section-head">
													<div class="sx-separator-outer separator-center">
														<div class="sx-separator bg-white bg-moving bg-repeat-x">
															<h3 class="sep-line-one">Articles</h3>
														</div>
													</div>
												</div>
												<!-- TITLE END -->


												<!-- IMAGE CAROUSEL START -->
												<div class="section-content">
													<div class="row">
													
														<div class="section-content">
															<div class="row">
																{% for post in posts %}
																<div class="col-lg-6 col-md-12 col-sm-12">
																	<div class="blog-post blog-lg date-style-3 block-shadow">
																		<div class="sx-post-info bg-white">
																			<div class="sx-post-meta">
																				<ul>
																					<li class="post-date">
																						<strong>{{ post.date.day }}</strong>
																						<span>{{ post.date|date:"M" }}</span>
																					</li>
																					<li class="post-author">
																						By
																						<span><a href="index.html" title="Visit ACE's website" rel="author external">{{ post.author }}</a></span>
																					</li>
																					<li class="post-comment">{{ post.comments }} Comments</li>
																				</ul>
																			</div>
																			<div class="sx-post-title">
																				<h4 class="post-title">
																					<a href="alara-of-ilara/index.html">{{ post.title }}</a>
																				</h4>
																			</div>
														
																			<div class="sx-post-text">
																				<p>
																					{{ post.content }}
																				</p>
																			</div>
																			<div class="clearfix">
																				<div class="text-left">
																					<a href="about-us/index.html"
																						class="site-button btn-half" style="background-color: #ED2B2A; color: white;"><span style="color: white;">Read
																							More</span></a>
																				</div>
																				<div class="widget_social_inks pull-right">
																					<ul class="social-icons social-md social-square social-dark m-b0">
																						<li>
																							<a href="http://www.facebook.com/share.php?u=https://acerealestates.ng/alara-of-ilara/" class="fa fa-facebook"></a>
																						</li>
																						<li>
																							<a href="http://www.linkedin.com/shareArticle?mini=true&amp;url=https://acerealestates.ng/alara-of-ilara/" class="fa fa-linkedin"></a>
																						</li>
																						<li>
																							<a href="http://pinterest.com/pin/create/button/?url=https://acerealestates.ng/alara-of-ilara/" class="fa fa-pinterest"></a>
																						</li>
																						<li>
																							<a href="http://twitter.com/home?status=https://acerealestates.ng/alara-of-ilara/" class="fa fa-twitter"></a>
																						</li>
																					</ul>
																				</div>
																			</div>
																		</div>
																	</div>
																</div>
																{% endfor %}
															</div>
														</div>
														

														
													</div>
												</div>
											</div>
											<div class="hilite-title text-left p-l50 text-uppercase">
												<strong>Articles</strong>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>

				<!-- <section data-particle_enable="false" data-particle-mobile-disabled="false"
					class="elementor-section elementor-top-section elementor-element elementor-element-eba32b1 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
					data-id="eba32b1" data-element_type="section" data-settings='{"ekit_has_onepagescroll_dot":"yes"}'>
					<div class="elementor-container elementor-column-gap-default">
						<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-0184956"
							data-id="0184956" data-element_type="column">
							<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-26b1608 elementor-widget elementor-widget-heading"
									data-id="26b1608" data-element_type="widget"
									data-settings='{"ekit_we_effect_on":"none"}' data-widget_type="heading.default">
									<div class="elementor-widget-container">
										<h5 class="elementor-heading-title elementor-size-default">
											As Seen On
										</h5>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section> -->

				<!-- <section data-particle_enable="false" data-particle-mobile-disabled="false"
					class="elementor-section elementor-top-section elementor-element elementor-element-93cdb99 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
					data-id="93cdb99" data-element_type="section" data-settings='{"ekit_has_onepagescroll_dot":"yes"}'>
					<div class="elementor-container elementor-column-gap-default">
						<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-51d16c5"
							data-id="51d16c5" data-element_type="column">
							<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-6aac1ba gallery-spacing-custom elementor-widget elementor-widget-image-gallery"
									data-id="6aac1ba" data-element_type="widget"
									data-settings='{"ekit_we_effect_on":"none"}'
									data-widget_type="image-gallery.default">
									<div class="elementor-widget-container">
										<div class="elementor-image-gallery">
											<div id="gallery-1"
												class="gallery galleryid-517 gallery-columns-6 gallery-size-medium">
												{% comment %}
												<figure class="gallery-item">
													<div class="gallery-icon landscape">
														<a data-elementor-open-lightbox="yes"
															data-elementor-lightbox-slideshow="6aac1ba"
															data-elementor-lightbox-title="punch-logo-2"
															e-action-hash="#elementor-action%3Aaction%3Dlightbox%26settings%3DeyJpZCI6MTE1NiwidXJsIjoiaHR0cHM6XC9cL2FjZXJlYWxlc3RhdGVzLm5nXC93cC1jb250ZW50XC91cGxvYWRzXC8yMDIyXC8xMFwvcHVuY2gtbG9nby0yLndlYnAiLCJzbGlkZXNob3ciOiI2YWFjMWJhIn0%3D"
															href="wp-content/uploads/2022/10/punch-logo-2.png"><img
																width="133" height="49"
																src="{% static 'wp-content/uploads/2022/10/punch-logo-2.webp' %}"
																class="attachment-medium size-medium" alt=""
																loading="lazy" /></a>
													</div>
												</figure>
												{% endcomment %}
												<figure class="gallery-item">
													<div class="gallery-icon landscape">
														<a data-elementor-open-lightbox="yes"
															data-elementor-lightbox-slideshow="6aac1ba"
															data-elementor-lightbox-title="guardian-conscience"
															e-action-hash="#elementor-action%3Aaction%3Dlightbox%26settings%3DeyJpZCI6MTE1NSwidXJsIjoiaHR0cHM6XC9cL2FjZXJlYWxlc3RhdGVzLm5nXC93cC1jb250ZW50XC91cGxvYWRzXC8yMDIyXC8xMFwvZ3VhcmRpYW4tY29uc2NpZW5jZS5wbmciLCJzbGlkZXNob3ciOiI2YWFjMWJhIn0%3D"
															href="{% static 'wp-content/uploads/2022/10/guardian-conscience.png' %}"><img
																width="300" height="48"
																src="{% static 'wp-content/uploads/2022/10/guardian-conscience-300x48.png' %}"
																class="attachment-medium size-medium" alt=""
																loading="lazy" srcset="
                                  https://acerealestates.ng/wp-content/uploads/2022/10/guardian-conscience-300x48.png 300w,
                                  https://acerealestates.ng/wp-content/uploads/2022/10/guardian-conscience-366x60.png 366w,
                                  https://acerealestates.ng/wp-content/uploads/2022/10/guardian-conscience.png        376w
                                " sizes="(max-width: 300px) 100vw, 300px" /></a>
													</div>
												</figure>
												<figure class="gallery-item">
													<div class="gallery-icon landscape">
														<a data-elementor-open-lightbox="yes"
															data-elementor-lightbox-slideshow="6aac1ba"
															data-elementor-lightbox-title="index"
															e-action-hash="#elementor-action%3Aaction%3Dlightbox%26settings%3DeyJpZCI6MTE1NCwidXJsIjoiaHR0cHM6XC9cL2FjZXJlYWxlc3RhdGVzLm5nXC93cC1jb250ZW50XC91cGxvYWRzXC8yMDIyXC8xMFwvaW5kZXgucG5nIiwic2xpZGVzaG93IjoiNmFhYzFiYSJ9"
															href="wp-content/uploads/2022/10/index.png"><img width="300"
																height="65"
																src="{% static 'wp-content/uploads/2022/10/index-300x65.png' %}"
																class="attachment-medium size-medium" alt=""
																loading="lazy" srcset="
                                  https://acerealestates.ng/wp-content/uploads/2022/10/index-300x65.png 300w,
                                  https://acerealestates.ng/wp-content/uploads/2022/10/index.png        483w
                                " sizes="(max-width: 300px) 100vw, 300px" /></a>
													</div>
												</figure>
												<figure class="gallery-item">
													<div class="gallery-icon landscape">
														<a data-elementor-open-lightbox="yes"
															data-elementor-lightbox-slideshow="6aac1ba"
															data-elementor-lightbox-title="f15e7f8e-this-day-live-logo"
															e-action-hash="#elementor-action%3Aaction%3Dlightbox%26settings%3DeyJpZCI6MTExOCwidXJsIjoiaHR0cHM6XC9cL2FjZXJlYWxlc3RhdGVzLm5nXC93cC1jb250ZW50XC91cGxvYWRzXC8yMDIyXC8xMFwvZjE1ZTdmOGUtdGhpcy1kYXktbGl2ZS1sb2dvLnBuZyIsInNsaWRlc2hvdyI6IjZhYWMxYmEifQ%3D%3D"
															href="wp-content/uploads/2022/10/f15e7f8e-this-day-live-logo.png"><img
																width="300" height="67"
																src="{% static 'wp-content/uploads/2022/10/f15e7f8e-this-day-live-logo-300x67.png' %}"
																class="attachment-medium size-medium" alt=""
																loading="lazy" srcset="
                                  https://acerealestates.ng/wp-content/uploads/2022/10/f15e7f8e-this-day-live-logo-300x67.png 300w,
                                  https://acerealestates.ng/wp-content/uploads/2022/10/f15e7f8e-this-day-live-logo.png        545w
                                " sizes="(max-width: 300px) 100vw, 300px" /></a>
													</div>
												</figure>
												<figure class="gallery-item">
													<div class="gallery-icon landscape">
														<a data-elementor-open-lightbox="yes"
															data-elementor-lightbox-slideshow="6aac1ba"
															data-elementor-lightbox-title="newlogonation"
															e-action-hash="#elementor-action%3Aaction%3Dlightbox%26settings%3DeyJpZCI6MTExNywidXJsIjoiaHR0cHM6XC9cL2FjZXJlYWxlc3RhdGVzLm5nXC93cC1jb250ZW50XC91cGxvYWRzXC8yMDIyXC8xMFwvbmV3bG9nb25hdGlvbi53ZWJwIiwic2xpZGVzaG93IjoiNmFhYzFiYSJ9"
															href="wp-content/uploads/2022/10/newlogonation.webp"><img
																width="300" height="55"
																src="{% static 'wp-content/uploads/2022/10/newlogonation-300x55.webp' %}"
																class="attachment-medium size-medium" alt=""
																loading="lazy" srcset="
                                  https://acerealestates.ng/wp-content/uploads/2022/10/newlogonation-300x55.webp 300w,
                                  https://acerealestates.ng/wp-content/uploads/2022/10/newlogonation.webp        512w
                                " sizes="(max-width: 300px) 100vw, 300px" /></a>
													</div>
												</figure>
												<figure class="gallery-item">
													<div class="gallery-icon landscape">
														<a data-elementor-open-lightbox="yes"
															data-elementor-lightbox-slideshow="6aac1ba"
															data-elementor-lightbox-title="BusinessdayLogo-700x146"
															e-action-hash="#elementor-action%3Aaction%3Dlightbox%26settings%3DeyJpZCI6MTExNiwidXJsIjoiaHR0cHM6XC9cL2FjZXJlYWxlc3RhdGVzLm5nXC93cC1jb250ZW50XC91cGxvYWRzXC8yMDIyXC8xMFwvQnVzaW5lc3NkYXlMb2dvLTcwMHgxNDYtMS53ZWJwIiwic2xpZGVzaG93IjoiNmFhYzFiYSJ9"
															href="wp-content/uploads/2022/10/BusinessdayLogo-700x146-1.webp"><img
																width="300" height="63"
																src="{% static 'wp-content/uploads/2022/10/BusinessdayLogo-700x146-1-300x63.webp' %}"
																class="attachment-medium size-medium" alt=""
																loading="lazy" srcset="
                                  https://acerealestates.ng/wp-content/uploads/2022/10/BusinessdayLogo-700x146-1-300x63.webp  300w,
                                  https://acerealestates.ng/wp-content/uploads/2022/10/BusinessdayLogo-700x146-1-600x125.webp 600w,
                                  https://acerealestates.ng/wp-content/uploads/2022/10/BusinessdayLogo-700x146-1.webp         700w
                                " sizes="(max-width: 300px) 100vw, 300px" /></a>
													</div>
												</figure>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section> -->
			</div>
		</div>
	</div>
</body>
{% include 'footer.html' %}