<body data-rsssl="1"
    class="home page-template-default page page-id-517 wp-custom-logo theme-inteshape woocommerce-no-js singular enable-search-modal missing-post-thumbnail has-no-pagination not-showing-comments show-avatars footer-top-hidden elementor-default elementor-kit-149 elementor-page elementor-page-517">
    <div class="page-wraper">
        
        <!-- HEADER START -->
       
        <div class="page-content">
            <div data-elementor-type="wp-page" data-elementor-id="517" class="elementor elementor-517">
                <section data-particle_enable="false" data-particle-mobile-disabled="false"
                    class="elementor-section elementor-top-section elementor-element elementor-element-598a620 elementor-section-full_width elementor-section-height-default elementor-section-height-default"
                    data-id="598a620" data-element_type="section"
                    data-settings='{"background_background":"classic","background_image":{"url":"","id":""},"background_image_tablet":{"url":"","id":""},"background_image_mobile":{"url":"","id":""},"ekit_has_onepagescroll_dot":"yes"}'>
                    <div class="elementor-container elementor-column-gap-default">
                        <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-235b45a"
                            data-id="235b45a" data-element_type="column">
                            <div class="elementor-widget-wrap elementor-element-populated">
                                <div class="elementor-element elementor-element-d169ad5 elementor-widget elementor-widget-slider_revolution"
                                    data-id="d169ad5" data-element_type="widget"
                                    data-settings='{"ekit_we_effect_on":"none"}'
                                    data-widget_type="slider_revolution.default">
                                    <div class="elementor-widget-container">
                                        <div class="wp-block-themepunch-revslider">
                                            <!-- START Slider 3 REVOLUTION SLIDER 6.5.31 -->
                                            <p class="rs-p-wp-fix"></p>
                                            <rs-module-wrap id="rev_slider_3_1_wrapper" data-source="gallery" style="
                          visibility: hidden;
                          background: transparent;
                          padding: 0;
                          margin: 0px auto;
                          margin-top: 0;
                          margin-bottom: 0;
                        ">
                                                <rs-module id="rev_slider_3_1" style="" data-version="6.5.31">
                                                    <rs-slides>
                                                        <rs-slide style="position: absolute" data-key="rs-8"
                                                            data-title="Slide"
                                                            data-thumb="//acerealestates.ng/wp-content/uploads/2022/10/2Bed-Terrace-3D.-scaled-50x100.jpg"
                                                            data-duration="7000ms" data-anim="adpr:false;"
                                                            data-in="o:0;" data-out="a:false;">
                                                            <img src="//acerealestates.ng/wp-content/plugins/revslider/public/assets/assets/dummy.png"
                                                                alt="" title="2Bed Terrace 3D." width="2560"
                                                                height="1440" class="rev-slidebg tp-rs-img rs-lazyload"
                                                                data-lazyload="//acerealestates.ng/wp-content/uploads/2022/10/2Bed-Terrace-3D.-scaled.jpg"
                                                                data-no-retina />
                                                            <!--
							--><rs-layer id="slider-3-slide-8-layer-0" data-type="shape" data-rsp_ch="on"
                                                                data-text="w:normal;s:20,10,7,4;l:0,13,9,6;"
                                                                data-dim="w:100%;h:100%;"
                                                                data-frame_1="e:power2.inOut;st:150;sp:1500;"
                                                                data-frame_999="o:0;e:power2.inOut;st:w;sp:1500;" style="
                                  z-index: 5;
                                  background-color: rgba(0, 0, 0, 0.1);
                                ">
                                                            </rs-layer><!--

							--><rs-layer id="slider-3-slide-8-layer-1" data-type="text" data-rsp_ch="on"
                                                                data-xy="x:l,l,c,c;xo:393px,209px,0,-1px;yo:209px,234px,129px,225px;"
                                                                data-text="w:normal;s:44,44,44,34;l:54,54,54,44;ls:0,10px,10px,10px;fw:200;a:right,right,center,center;"
                                                                data-frame_0="y:-100%;" data-frame_0_mask="u:t;"
                                                                data-frame_1="st:1000;sp:1500;" data-frame_1_mask="u:t;"
                                                                data-frame_999="y:-100%;o:0;st:w;sp:500;"
                                                                data-frame_999_mask="u:t;"
                                                                style="z-index: 6; font-family: 'Poppins'">UNIQUE
                                                            </rs-layer><!--

							--><rs-layer id="slider-3-slide-8-layer-2" data-type="text" data-rsp_ch="on"
                                                                data-xy="x:l,l,c,c;xo:394px,209px,0,-1px;yo:263px,292px,187px,278px;"
                                                                data-text="w:normal;s:64,64,60,40;l:74,74,70,50;ls:10px;fw:800;a:right,right,center,center;"
                                                                data-frame_0="y:-100%;" data-frame_0_mask="u:t;"
                                                                data-frame_1="st:1000;sp:2500;" data-frame_1_mask="u:t;"
                                                                data-frame_999="y:-100%;o:0;e:power1.in;st:w;sp:500;"
                                                                data-frame_999_mask="u:t;" style="
                                  z-index: 7;
                                  font-family: 'Poppins';
                                  text-transform: uppercase;
                                ">Concept </rs-layer><!--

							--><rs-layer id="slider-3-slide-8-layer-3" data-type="text" data-rsp_ch="on"
                                                                data-xy="x:l,l,c,c;xo:395px,209px,0,0;yo:349px,371px,263px,338px;"
                                                                data-text="w:normal;s:20,20,20,16;l:30,30,30,26;fw:500;a:left,left,center,center;"
                                                                data-dim="w:598px,597px,430px,361px;"
                                                                data-frame_0="y:-100%;" data-frame_0_mask="u:t;"
                                                                data-frame_1="st:1000;sp:3500;" data-frame_1_mask="u:t;"
                                                                data-frame_999="y:-100%;o:0;e:power1.in;st:w;sp:500;"
                                                                data-frame_999_mask="u:t;"
                                                                style="z-index: 8; font-family: 'Poppins'">Dive into a
                                                                world of impeccable architectural
                                                                designs and luxurious styles </rs-layer><!--

							--><a id="slider-3-slide-8-layer-4" class="rs-layer rev-btn" href="https://acerealestates.ng/about-us/"
                                                                target="_blank" rel="noopener" data-type="button"
                                                                data-color="#000000" data-rsp_ch="on"
                                                                data-xy="x:l,l,c,c;xo:394px,210px,0,0;yo:441px,454px,375px,438px;"
                                                                data-text="w:normal;s:14;l:43;ls:8px;fw:600;a:left,left,center,center;"
                                                                data-dim="minh:0px,none,none,none;"
                                                                data-padding="r:15;l:15;" data-frame_0="y:-100%;"
                                                                data-frame_0_mask="u:t;" data-frame_1="st:1000;sp:3500;"
                                                                data-frame_1_mask="u:t;"
                                                                data-frame_999="y:-100%;o:0;e:power1.in;st:w;sp:500;"
                                                                data-frame_999_mask="u:t;"
                                                                data-frame_hover="c:#fff;bgc:#000;boc:rgba(255,255,255,0.75);bor:0px,0px,0px,0px;bos:solid;bow:0px,0px,0px,0px;e:power1.inOut;"
                                                                style="
                                  z-index: 9;
                                  background-color: #d7b39a;
                                  font-family: 'Poppins';
                                "><span>Read More</span> </a>
                                                        </rs-slide>
                                                        <rs-slide style="position: absolute" data-key="rs-13"
                                                            data-title="Slide"
                                                            data-thumb="//acerealestates.ng/wp-content/uploads/2022/10/3Bed-Terrace_3bed-3d-3.-scaled-50x100.jpg"
                                                            data-duration="7000ms" data-anim="adpr:false;"
                                                            data-in="o:0;" data-out="a:false;">
                                                            <img src="//acerealestates.ng/wp-content/plugins/revslider/public/assets/assets/dummy.png"
                                                                alt="" title="3Bed Terrace_3bed 3d 3." width="2560"
                                                                height="1440" class="rev-slidebg tp-rs-img rs-lazyload"
                                                                data-lazyload="//acerealestates.ng/wp-content/uploads/2022/10/3Bed-Terrace_3bed-3d-3.-scaled.jpg"
                                                                data-no-retina />
                                                            <!--
							--><rs-layer id="slider-3-slide-13-layer-0" data-type="shape" data-rsp_ch="on"
                                                                data-text="w:normal;s:20,10,7,4;l:0,13,9,6;"
                                                                data-dim="w:100%;h:100%;"
                                                                data-frame_1="e:power2.inOut;st:150;sp:1500;"
                                                                data-frame_999="o:0;e:power2.inOut;st:w;sp:1500;" style="
                                  z-index: 5;
                                  background-color: rgba(0, 0, 0, 0.1);
                                ">
                                                            </rs-layer><!--

							--><rs-layer id="slider-3-slide-13-layer-1" data-type="text" data-rsp_ch="on"
                                                                data-xy="x:l,l,c,c;xo:393px,209px,0,-1px;yo:209px,234px,129px,225px;"
                                                                data-text="w:normal;s:44,44,44,34;l:54,54,54,44;ls:0,10px,10px,10px;fw:200;a:right,right,center,center;"
                                                                data-frame_0="y:-100%;" data-frame_0_mask="u:t;"
                                                                data-frame_1="st:1000;sp:1500;" data-frame_1_mask="u:t;"
                                                                data-frame_999="y:-100%;o:0;st:w;sp:500;"
                                                                data-frame_999_mask="u:t;"
                                                                style="z-index: 6; font-family: 'Poppins'">Creative
                                                            </rs-layer><!--

							--><rs-layer id="slider-3-slide-13-layer-2" data-type="text" data-rsp_ch="on"
                                                                data-xy="x:l,l,c,c;xo:394px,209px,0,-1px;yo:263px,292px,187px,278px;"
                                                                data-text="w:normal;s:64,64,60,40;l:74,74,70,50;ls:10px;fw:800;a:right,right,center,center;"
                                                                data-frame_0="y:-100%;" data-frame_0_mask="u:t;"
                                                                data-frame_1="st:1000;sp:2500;" data-frame_1_mask="u:t;"
                                                                data-frame_999="y:-100%;o:0;e:power1.in;st:w;sp:500;"
                                                                data-frame_999_mask="u:t;" style="
                                  z-index: 7;
                                  font-family: 'Poppins';
                                  text-transform: uppercase;
                                ">Thinkings </rs-layer><!--

							--><rs-layer id="slider-3-slide-13-layer-3" data-type="text" data-rsp_ch="on"
                                                                data-xy="x:l,l,c,c;xo:395px,209px,0,0;yo:349px,371px,263px,338px;"
                                                                data-text="w:normal;s:20,20,20,16;l:30,30,30,26;fw:500;a:left,left,center,center;"
                                                                data-dim="w:598px,597px,430px,361px;"
                                                                data-frame_0="y:-100%;" data-frame_0_mask="u:t;"
                                                                data-frame_1="st:1000;sp:3500;" data-frame_1_mask="u:t;"
                                                                data-frame_999="y:-100%;o:0;e:power1.in;st:w;sp:500;"
                                                                data-frame_999_mask="u:t;"
                                                                style="z-index: 8; font-family: 'Poppins'">Let’s expand
                                                                your imagination to distinctive
                                                                elegance and possibilities </rs-layer><!--

							--><a id="slider-3-slide-13-layer-4" class="rs-layer rev-btn" href="https://acerealestates.ng/about-us/"
                                                                target="_blank" rel="noopener" data-type="button"
                                                                data-color="#000000" data-rsp_ch="on"
                                                                data-xy="x:l,l,c,c;xo:394px,210px,0,0;yo:441px,454px,375px,438px;"
                                                                data-text="w:normal;s:14;l:43;ls:8px;fw:600;a:left,left,center,center;"
                                                                data-dim="minh:0px,none,none,none;"
                                                                data-padding="r:15;l:15;" data-frame_0="y:-100%;"
                                                                data-frame_0_mask="u:t;" data-frame_1="st:1000;sp:3500;"
                                                                data-frame_1_mask="u:t;"
                                                                data-frame_999="y:-100%;o:0;e:power1.in;st:w;sp:500;"
                                                                data-frame_999_mask="u:t;"
                                                                data-frame_hover="c:#fff;bgc:#000;boc:rgba(255,255,255,0.75);bor:0px,0px,0px,0px;bos:solid;bow:0px,0px,0px,0px;e:power1.inOut;"
                                                                style="
                                  z-index: 9;
                                  background-color: #d7b39a;
                                  font-family: 'Poppins';
                                "><span>Read More</span> </a></rs-slide>
                                                        <rs-slide style="position: absolute" data-key="rs-14"
                                                            data-title="Slide"
                                                            data-thumb="//acerealestates.ng/wp-content/uploads/2022/10/2Bed-Terrace-3D_2bed-3d-4.-scaled-50x100.jpg"
                                                            data-duration="7000ms" data-anim="adpr:false;"
                                                            data-in="o:0;" data-out="a:false;">
                                                            <img src="//acerealestates.ng/wp-content/plugins/revslider/public/assets/assets/dummy.png"
                                                                alt="" title="2Bed Terrace 3D,_2bed 3d 4." width="2560"
                                                                height="1440" class="rev-slidebg tp-rs-img rs-lazyload"
                                                                data-lazyload="//acerealestates.ng/wp-content/uploads/2022/10/2Bed-Terrace-3D_2bed-3d-4.-scaled.jpg"
                                                                data-no-retina />
                                                            <!--
							--><rs-layer id="slider-3-slide-14-layer-0" data-type="shape" data-rsp_ch="on"
                                                                data-text="w:normal;s:20,10,7,4;l:0,13,9,6;"
                                                                data-dim="w:100%;h:100%;"
                                                                data-frame_1="e:power2.inOut;st:150;sp:1500;"
                                                                data-frame_999="o:0;e:power2.inOut;st:w;sp:1500;" style="
                                  z-index: 5;
                                  background-color: rgba(0, 0, 0, 0.1);
                                ">
                                                            </rs-layer><!--

							--><rs-layer id="slider-3-slide-14-layer-1" data-type="text" data-rsp_ch="on"
                                                                data-xy="x:l,l,c,c;xo:393px,209px,0,-1px;yo:209px,234px,129px,225px;"
                                                                data-text="w:normal;s:44,44,44,34;l:54,54,54,44;ls:0,10px,10px,10px;fw:200;a:right,right,center,center;"
                                                                data-frame_0="y:-100%;" data-frame_0_mask="u:t;"
                                                                data-frame_1="st:1000;sp:1500;" data-frame_1_mask="u:t;"
                                                                data-frame_999="y:-100%;o:0;st:w;sp:500;"
                                                                data-frame_999_mask="u:t;"
                                                                style="z-index: 6; font-family: 'Poppins'">ELEGANT
                                                            </rs-layer><!--

							--><rs-layer id="slider-3-slide-14-layer-2" data-type="text" data-rsp_ch="on"
                                                                data-xy="x:l,l,c,c;xo:394px,209px,0,-1px;yo:263px,292px,187px,278px;"
                                                                data-text="w:normal;s:64,64,60,40;l:74,74,70,50;ls:10px;fw:800;a:right,right,center,center;"
                                                                data-frame_0="y:-100%;" data-frame_0_mask="u:t;"
                                                                data-frame_1="st:1000;sp:2500;" data-frame_1_mask="u:t;"
                                                                data-frame_999="y:-100%;o:0;e:power1.in;st:w;sp:500;"
                                                                data-frame_999_mask="u:t;" style="
                                  z-index: 7;
                                  font-family: 'Poppins';
                                  text-transform: uppercase;
                                ">DESIGNS </rs-layer><!--

							--><rs-layer id="slider-3-slide-14-layer-3" data-type="text" data-rsp_ch="on"
                                                                data-xy="x:l,l,c,c;xo:395px,209px,0,0;yo:349px,371px,263px,338px;"
                                                                data-text="w:normal;s:20,20,20,16;l:30,30,30,26;fw:500;a:left,left,center,center;"
                                                                data-dim="w:598px,597px,430px,361px;"
                                                                data-frame_0="y:-100%;" data-frame_0_mask="u:t;"
                                                                data-frame_1="st:1000;sp:3500;" data-frame_1_mask="u:t;"
                                                                data-frame_999="y:-100%;o:0;e:power1.in;st:w;sp:500;"
                                                                data-frame_999_mask="u:t;"
                                                                style="z-index: 8; font-family: 'Poppins'">We Bring Your
                                                                Dream to reality. </rs-layer><!--

							--><a id="slider-3-slide-14-layer-4" class="rs-layer rev-btn" href="https://acerealestates.ng/about-us/"
                                                                target="_blank" rel="noopener" data-type="button"
                                                                data-color="#000000" data-rsp_ch="on"
                                                                data-xy="x:l,l,c,c;xo:394px,210px,0,0;yo:441px,454px,375px,438px;"
                                                                data-text="w:normal;s:14;l:43;ls:8px;fw:600;a:left,left,center,center;"
                                                                data-dim="minh:0px,none,none,none;"
                                                                data-padding="r:15;l:15;" data-frame_0="y:-100%;"
                                                                data-frame_0_mask="u:t;" data-frame_1="st:1000;sp:3500;"
                                                                data-frame_1_mask="u:t;"
                                                                data-frame_999="y:-100%;o:0;e:power1.in;st:w;sp:500;"
                                                                data-frame_999_mask="u:t;"
                                                                data-frame_hover="c:#fff;bgc:#000;boc:rgba(255,255,255,0.75);bor:0px,0px,0px,0px;bos:solid;bow:0px,0px,0px,0px;e:power1.inOut;"
                                                                style="
                                  z-index: 9;
                                  background-color: #d7b39a;
                                  font-family: 'Poppins';"><span>Read More</span> </a></rs-slide>
                                                    </rs-slides>
                                                </rs-module>
                                                <script>
                                                    setREVStartSize({
                                                        c: "rev_slider_3_1",
                                                        rl: [1240, 1024, 778, 480],
                                                        el: [700, 768, 570, 720],
                                                        gw: [1920, 1024, 778, 480],
                                                        gh: [700, 768, 570, 720],
                                                        type: "standard",
                                                        justify: "",
                                                        layout: "fullwidth",
                                                        mh: "0",
                                                    });
                                                    if (
                                                        window.RS_MODULES !== undefined &&
                                                        window.RS_MODULES.modules !== undefined &&
                                                        window.RS_MODULES.modules["revslider31"] !==
                                                        undefined
                                                    ) {
                                                        window.RS_MODULES.modules[
                                                            "revslider31"
                                                        ].once = false;
                                                        window.revapi3 = undefined;
                                                        if (window.RS_MODULES.checkMinimal !== undefined)
                                                            window.RS_MODULES.checkMinimal();
                                                    }
                                                </script>
                                            </rs-module-wrap>
                                            <!-- END REVOLUTION SLIDER -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>

        <!-- CONTACT -->
    </div>
</body>