{% include 'header.html' %}
{% load static %}

<div class="page-content">
	<div class="sx-bnr-inr overlay-wraper bg-parallax bg-top-center" data-stellar-background-ratio="1">
		<div class="overlay-main bg-black opacity-07"></div>
		<div class="container">
			<div class="sx-bnr-inr-entry">
				<div class="banner-title-outer">
					<div class="banner-title-name">
						<h2 class="m-tb0">Projects</h2>
						<p>Ace Real Estate is an award winning and value driven real estate development company with a
							tripartite value system that cut across service delivery, and customer satisfaction.</p>
					</div>
				</div>
				<!-- BREADCRUMB ROW -->
				<div>
					<ul id="breadcrumbs" class="sx-breadcrumb breadcrumb-style-2">
						<li class="item-home"><a class="bread-link bread-home" href="../index.html"
								title="Home">Home</a></li>
						<li class="item-current item-667"><span class="bread-current bread-667"> Projects</span></li>
					</ul>
				</div>
				<!-- BREADCRUMB ROW END -->
			</div>
		</div>
	</div>
	<div data-elementor-type="wp-page" data-elementor-id="667" class="elementor elementor-667">
		<section data-particle_enable="false" data-particle-mobile-disabled="false"
			class="elementor-section elementor-top-section elementor-element elementor-element-5ab1cd8 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
			data-id="5ab1cd8" data-element_type="section"
			data-settings="{&quot;ekit_has_onepagescroll_dot&quot;:&quot;yes&quot;}">
			<div class="elementor-container elementor-column-gap-default">
				<div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-2d0e9d2"
					data-id="2d0e9d2" data-element_type="column">
					<div class="elementor-widget-wrap elementor-element-populated">
						<div class="elementor-element elementor-element-bef25db eael-flipbox-content-align-center elementor-widget elementor-widget-eael-flip-box"
							data-id="bef25db" data-element_type="widget"
							data-settings="{&quot;ekit_we_effect_on&quot;:&quot;none&quot;}"
							data-widget_type="eael-flip-box.default">
							<div class="elementor-widget-container">

								<div
									class="eael-elements-flip-box-container eael-animate-flip eael-animate-left eael-content">

									<a class="eael-elements-flip-box-flip-card" href="../land/index.html">
										<div class="eael-elements-flip-box-front-container">


											<div class="eael-elements-slider-display-table">
												<div class="eael-elements-flip-box-vertical-align">
													<div class="eael-elements-flip-box-padding">
														<div class="eael-elements-flip-box-icon-image">
															<i aria-hidden="true"
																class="ea-flipbox-icon fas fa-snowflake"></i>
														</div>
														<h2 class="eael-elements-flip-box-heading">LAND</h2>
														<div class="eael-elements-flip-box-content">
															<p>
															<p>View Lands for Sale</p>
															</p>
														</div>
													</div>
												</div>
											</div>
										</div>

										<div class="eael-elements-flip-box-rear-container">

											<div class="eael-elements-slider-display-table">
												<div class="eael-elements-flip-box-vertical-align">
													<div class="eael-elements-flip-box-padding">
														<div class="eael-elements-flip-box-icon-image">
															<i aria-hidden="true"
																class="ea-flipbox-icon fas fa-snowflake"></i>
														</div>
														<div class="eael-elements-flip-box-content">
															<p></p>
														</div>

													</div>
												</div>
											</div>
										</div>
									</a>
								</div>

							</div>
						</div>
					</div>
				</div>
				<div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-faa1ebb"
					data-id="faa1ebb" data-element_type="column">
					<div class="elementor-widget-wrap elementor-element-populated">
						<div class="elementor-element elementor-element-96db44b eael-flipbox-content-align-center elementor-widget elementor-widget-eael-flip-box"
							data-id="96db44b" data-element_type="widget"
							data-settings="{&quot;ekit_we_effect_on&quot;:&quot;none&quot;}"
							data-widget_type="eael-flip-box.default">
							<div class="elementor-widget-container">

								<div
									class="eael-elements-flip-box-container eael-animate-flip eael-animate-left eael-content">

									<a class="eael-elements-flip-box-flip-card" href="../house/index.html">
										<div class="eael-elements-flip-box-front-container">


											<div class="eael-elements-slider-display-table">
												<div class="eael-elements-flip-box-vertical-align">
													<div class="eael-elements-flip-box-padding">
														<div class="eael-elements-flip-box-icon-image">
															<i aria-hidden="true"
																class="ea-flipbox-icon fas fa-snowflake"></i>
														</div>
														<h2 class="eael-elements-flip-box-heading">Houses</h2>
														<div class="eael-elements-flip-box-content">
															<p>
															<p>Views Houses for sale</p>
															</p>
														</div>
													</div>
												</div>
											</div>
										</div>

										<div class="eael-elements-flip-box-rear-container">

											<div class="eael-elements-slider-display-table">
												<div class="eael-elements-flip-box-vertical-align">
													<div class="eael-elements-flip-box-padding">
														<div class="eael-elements-flip-box-icon-image">
															<i aria-hidden="true"
																class="ea-flipbox-icon fas fa-snowflake"></i>
														</div>
														<div class="eael-elements-flip-box-content">
															<p></p>
														</div>

													</div>
												</div>
											</div>
										</div>
									</a>
								</div>

							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
</div>

{% include 'footer.html' %}